body {
    font-size: 0.9rem;
}

/* ------ Navigation Bar ------ */

.page-wrapper .sidebar-wrapper, .sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper ul li a i, .page-wrapper .page-content, #show-sidebar, #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.page-wrapper {
    height: 100vh;
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
}

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 210px;
    }
}

#show-sidebar {
    position: fixed;
    left: 0;
    top: 0px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.1s;
    font-size: 18px;
    z-index: 999;
}

#show-sidebar:hover {
    color: #AFA939;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}

.sidebar-wrapper {
    width: 210px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: hidden;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

.sidebar-wrapper .sidebar-brand {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 18px;
}

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 10px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
}

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
}

.page-wrapper .page-content > div {
    padding: 20px 20px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
    background-color: #F8F9FA;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar-wrapper {
    background-color: #222831;
}

.sidebar-wrapper .sidebar-menu ul li a {
    color: #fff;
    font-size: 12px;
}

.sidebar-wrapper .sidebar-brand > a {
    font-size: 16px;
    color: #fff;
}

.sidebar-wrapper .sidebar-menu ul li:hover > a {
    background-color: #AFA939;
}

#close-sidebar {
    color: #fff;
}

#close-sidebar:hover {
    color: #AFA939;
}

.active-link {
    background-color: #AFA939;
}

/* ------ Content Section ------ */

.container-fluid {
    margin-top: 25px;
}

.content {
    overflow: hidden;
}

.sub-content {
    background-color: white;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}

.sub-text {
    font-size: 10px;
    display: block;
    margin: 0;
    padding: 0;
}

/* ------ Search Bar ------ */

.search-bar {
    width: 100%;
}

.search-bar input[type=text] {
    height: 35px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #CED4DA;
    padding: 0px 10px;
    font-size: 14px;
    width: 85%;
}

.search-bar input[type=text]:focus {
    border: 1px solid #a2a7ab;
    outline: none;
}

.search-bar button {
    height: 35px;
    border: none;
    background-color: #B7B7B7;
    border-radius: 0 4px 4px 0px;
    color: #fff;
    width: 15%;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #888888;
}

.search-bar button:focus {
    outline: none;
}

/* ------ Custom Scrollbar ------ */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    cursor: pointer;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #AFA939;
    border: 0px none #ffffff;
    border-radius: 0px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #AFA939;
}

::-webkit-scrollbar-thumb:active {
    background: #AFA939;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
    cursor: pointer;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
    cursor: pointer;
}

/* ------ Buttons ------ */

.buttons {
    border: none;
    cursor: pointer;
    width: 45%;
    height: 35px;
    color: #fff;
    background-color: #B7B7B7;
    font-size: 14px;
    border-radius: 4px;
}

.buttons:hover {
    background-color: #888888;
}

.buttons:focus {
    outline: none;
}

.btn1 {
    background-color: #AFA939;
}

.btn1:hover {
    background-color: #ded871;
}

.center {
    text-align: center;
}

.top-section {
    background-color: #F8F9FA;
}
